body {
    font-family: "Fira Sans", sans-serif; 
    background-color: antiquewhite; 
    color: #333333; 
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #aaa;
}

h1 {
    text-align: center;
    font-family: "Roboto", sans-serif; 
    color: #007BFF;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: "Fira Sans", sans-serif; 
}
button {
    width: 28%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: "Fira Sans", sans-serif; 
}
ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    color: #333333; 
}
li span {
    flex-grow: 1;
    font-family: "Fira Sans", sans-serif; 
}

.delete-btn {
    background-color: #ff3737;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 3px;
    cursor: pointer;
    font-family: "Fira Sans", sans-serif; 
}
